scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'users'
    scrape_interval: 10s
    static_configs:
      - targets: ['users:8083']

  - job_name: 'accounts'
    scrape_interval: 10s
    static_configs:
      - targets: ['accounts:8081']

  - job_name: 'transactions'
    scrape_interval: 10s
    static_configs:
      - targets: ['transactions:8082']
